<!DOCTYPE html>
<html>
  <head>
    <title>DataProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- Navigation Bar -->
    <nav class="bg-blue-500 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="<%= root_path %>" class="text-white text-2xl font-bold">BasketballRooster</a>
        <div class="space-x-4">
          <a href="<%= teams_path %>" class="text-white hover:text-gray-200">Teams</a>
          <a href="<%= about_path %>" class="text-white hover:text-gray-200">About</a>
        </div>
      </div>
    </nav>
    <br>
    <main class="prose container mx-auto">
      <%= yield %>
    </main>
  </body>

</html>
